/*go one folder up*/
body{background-image: url("../img/background image.webp");
text-indent: 10%; word-spacing: 10px;}
/*../move one step up*/

/*apply to all*/
h1{text-align:center;color:brown;}
/*id has to be unique*/
#heading-section-top{color:green}
/*class cn be repeated*/
.font-color-pink{color:pink;}
h4{text-decoration: wavy underline red !important}
/*!important=take precedence*/

.p1 { font-family: "Times New Roman", Times, serif; } 

.font-roboto{font-family: "Roboto", serif;
font-weight: bold;
font-style:italic}

.h5Edu {
  font-family: "Edu AU VIC WA NT Pre", cursive;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

a:hover{color: brown;}
a:visited{color: blueviolet;}
a:link, a:visited{background-color:#f44336;
color:white;
padding:26px 50px 75px 100px;
margin:30px;
text-align:center;
text-decoration:none;
display:inline-block;
border-radius: 10px;}

@media(max-width: 576px){
  body{
    background-color: rgb(127, 165, 255);
  }
}

